$link-color: #F08922; // #2455C3;
$content-text-color: #000;
$header-text-color: #FFF;
$rad: 8px;

@mixin round-corners($rad) {
	-moz-border-radius: $rad;
	-webkit-border-radius: $rad;
	border-radius: $rad;
	-khtml-border-radius: $rad;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html {
	overflow-y: scroll;
}

body {
	display: block;
  background: url("../images/main/dark_geometric.png");
  text-align: center;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 90%;
}

#container {
	width: 60%;
	margin: 20px auto;
}
@media only screen and (max-width: 767px) {
		#container {
			width: 100%;
			margin-top: 0;
		}
}


#header {
	display: block;
/*  background: url("../images/main/bg3.jpg");*/
  background: url("../images/main/banner.jpg");
	background-size: 1200px 250px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
	text-align: center;
	padding-bottom: 10px;
	font-size: 175%;
	color: white;

	/* Top Rounded Corners */
	-moz-border-top-right-radius: $rad;
	-webkit-border-top-right-radius: $rad;
	border--top-right-radius: $rad;
	-khtml-border-top-right-radius: $rad;
	-moz-border-top-left-radius: $rad;
	-webkit-border-top-left-radius: $rad;
	border-top-left-radius: $rad;
	-khtml-border-top-left-radius: $rad;

	#nav {
		padding-top: 10px;
		padding-bottom: 0.5em;
		width: auto;
		position: relative;
		margin: 0.25em auto;

		.header-link {
					padding-bottom: 2px;
					margin-bottom: 1em;
					margin: 0.25em;

					&:hover {
						border-bottom: 1px solid $header-text-color;
					}
		}

		#self-pic {
			width: 100px;
			height: 100px;
			margin: auto;
			border: 2px solid white;
			@include round-corners(5em);
		}

		.pic-link {
			width: 10%;
		}
		@media only screen and (max-width: 767px) {
				#self-pic {
									height: 80px;
									width: 80px;
									margin-top: 10px;
				}
		}
	}

	a {
		text-decoration: none;
		color: $header-text-color;
	}

	.name {
		border-top: 1px solid white;
		padding: 0.1em 0.5em;
		margin: auto;
		width: auto;
		display: inline;
	}
	@media only screen and (max-width: 480px) {
		.name {
			font-size: 40px;
				}
	}
}

.current-page {
	border-bottom: 1px solid white;
}

.header-link {
		&:hover {
			border-bottom: 1px solid white;
		}
}

#content{
	display: block;
	text-align: justify;
	padding: 1em 3em;
	line-height: 1.25em;
	font-size: 1.25em;
	color: $content-text-color;
	height: auto;
	background-color: white;
	border-bottom: 1px solid white;

	/* Bottom Rounded corners */
	-moz-border-bottom-right-radius: $rad;
	-webkit-border-bottom-right-radius: $rad;
	border-bottom-right-radius: $rad;
	-khtml-border-bototm-right-radius: $rad;
	-moz-border-bottom-left-radius: $rad;
	-webkit-border-bottom-left-radius: $rad;
	border-bottom-left-radius: $rad;
	-khtml-border-bottom-left-radius: $rad;

	p {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	a {
		text-decoration: none;
		color: $link-color;

		&:hover {
			color: lighten($link-color, 15%);
			border-bottom: 1px solid black;
		}
	}
}

#post-list {
	list-style: none;

	.post-title {
		font-size: 125%;
	}

	.post-list-item {
		line-height: 1.5em;
		margin-bottom: 1em;
		border-bottom: 1px solid black;
	}

	.post-date {
		line-height:1.5em;
	}
}

.caption {
	font-size: 80%;
	margin: auto;
	text-align: center;
}

.meta {
	margin: 0.5em auto 0.25em;
	padding-bottom: 15em;
}

.post-content {
	padding-top: 0.5em;
	border-top: 1px solid black;

	p {
		margin: 0.5em auto;
	}

	li {
		margin-left: 2em;
	}

	img {
		display: block;
		max-width:100%;
		height: auto;
		margin: 0.5em auto;
		text-align: center;
	}
}

#project-list {
	list-style: none;

	.project-list-item {
		line-height: 1.5em;
		margin-bottom: 1em;
		border-bottom: 1px solid black;

		.google-play-badge {
			float: right !important;

			&:hover {
				border-bottom: none !important;
			}

		}
	}

	.project-title {
		font-size: 125%;
	}

	.project-date {
		float: right;
	}


}

#footer {
	color: white;
	margin-top: 1em;

	a {
		text-decoration: none;
		color: $link-color;

		&:hover {
			color: lighten($link-color, 15%);
		}
	}
}
