/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html {
  overflow-y: scroll; }

body {
  display: block;
  background: url("../images/main/dark_geometric.png");
  text-align: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 90%; }

#container {
  width: 60%;
  margin: 20px auto; }

@media only screen and (max-width: 767px) {
  #container {
    width: 100%;
    margin-top: 0; } }
#header {
  display: block;
  /*  background: url("../images/main/bg3.jpg");*/
  background: url("../images/main/banner.jpg");
  background-size: 1200px 250px;
  text-shadow: 0px 2px 2px black;
  text-align: center;
  padding-bottom: 10px;
  font-size: 175%;
  color: white;
  /* Top Rounded Corners */
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border--top-right-radius: 8px;
  -khtml-border-top-right-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -khtml-border-top-left-radius: 8px; }
  #header #nav {
    padding-top: 10px;
    padding-bottom: 0.5em;
    width: auto;
    position: relative;
    margin: 0.25em auto; }
    #header #nav .header-link {
      padding-bottom: 2px;
      margin-bottom: 1em;
      margin: 0.25em; }
      #header #nav .header-link:hover {
        border-bottom: 1px solid #FFF; }
    #header #nav #self-pic {
      width: 100px;
      height: 100px;
      margin: auto;
      border: 2px solid white;
      -moz-border-radius: 5em;
      -webkit-border-radius: 5em;
      border-radius: 5em;
      -khtml-border-radius: 5em; }
    #header #nav .pic-link {
      width: 10%; }
    @media only screen and (max-width: 767px) {
      #header #nav #self-pic {
        height: 80px;
        width: 80px;
        margin-top: 10px; } }
  #header a {
    text-decoration: none;
    color: #FFF; }
  #header .name {
    border-top: 1px solid white;
    padding: 0.1em 0.5em;
    margin: auto;
    width: auto;
    display: inline; }
  @media only screen and (max-width: 480px) {
    #header .name {
      font-size: 40px; } }

.current-page {
  border-bottom: 1px solid white; }

.header-link:hover {
  border-bottom: 1px solid white; }

#content {
  display: block;
  text-align: justify;
  padding: 1em 3em;
  line-height: 1.25em;
  font-size: 1.25em;
  color: #000;
  height: auto;
  background-color: white;
  border-bottom: 1px solid white;
  /* Bottom Rounded corners */
  -moz-border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -khtml-border-bototm-right-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px; }
  #content p {
    padding-top: 5px;
    padding-bottom: 5px; }
  #content a {
    text-decoration: none;
    color: #F08922; }
    #content a:hover {
      color: #f5af6a;
      border-bottom: 1px solid black; }

#post-list {
  list-style: none; }
  #post-list .post-title {
    font-size: 125%; }
  #post-list .post-list-item {
    line-height: 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid black; }
  #post-list .post-date {
    line-height: 1.5em; }

.caption {
  font-size: 80%;
  margin: auto;
  text-align: center; }

.meta {
  margin: 0.5em auto 0.25em;
  padding-bottom: 15em; }

.post-content {
  padding-top: 0.5em;
  border-top: 1px solid black; }
  .post-content p {
    margin: 0.5em auto; }
  .post-content li {
    margin-left: 2em; }
  .post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0.5em auto;
    text-align: center; }

#project-list {
  list-style: none; }
  #project-list .project-list-item {
    line-height: 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid black; }
    #project-list .project-list-item .google-play-badge {
      float: right !important; }
      #project-list .project-list-item .google-play-badge:hover {
        border-bottom: none !important; }
  #project-list .project-title {
    font-size: 125%; }
  #project-list .project-date {
    float: right; }

#footer {
  color: white;
  margin-top: 1em; }
  #footer a {
    text-decoration: none;
    color: #F08922; }
    #footer a:hover {
      color: #f5af6a; }

/*# sourceMappingURL=main.css.map */
