---
layout: default
title: Projects
---


<ul id="project-list">

	<li class="project-list-item">
		<a class="project-title" href="https://play.google.com/store/apps/details?id=com.cordeiro.populationquiz">Population Quiz for Android</a>
		<span class="project-date">April 10, 2015</span>
		<p class="project-description">

			An Android version of <a href="http://countries.joncordeiro.com/">Population Guesser</a>. Integrates Google Play Game services for leaderboards and achievements.
			
			<a href="https://play.google.com/store/apps/details?id=com.cordeiro.populationquiz"><img class="google-play-badge" src="/images/main/google-play-badge.png" alt="Get it now on Google Play" /></a>


		</p>
	</li>

	<li class="project-list-item">
		<a class="project-title" href="http://www.joncordeiro.com/projects/scgrid">SoundCloud Grid</a>
		<span class="project-date">June 6, 2014</span>
		<p class="project-description">
			A grid of SoundCloud's 200 hottest and newest tracks. Code is on <a href="https://github.com/jcordeiro/scgrid">Github</a>.
			</p>
	</li>

	<li class="project-list-item">
		<a class="project-title" href="https://play.google.com/store/apps/details?id=com.cordeiro.marsweatherreport">Mars Weather Report</a>
		<span class="project-date">March 21, 2014</span>
		<p class="project-description">
			An Android app that displays the latest weather data collected by NASA's Curiosity Rover on Mars. Code is on <a href="https://github.com/jcordeiro/WeatherOfMars">Github</a>.
			</p>
	</li>

	<li class="project-list-item">
		<a class="project-title" href="http://countries.joncordeiro.com/">Population Guesser</a>
		<span class="project-date">November 24, 2013</span>
		<p class="project-description">
			A simple game where you have to guess which of two random countries has a greater population. Code is on <a href="https://github.com/jcordeiro/Population-Guesser">Github</a>.
		</p>
	</li>

	<li class="project-list-item">
		<a class="project-title" href="https://github.com/jcordeiro/HackerNewsExtension">Hacker News - New Tab Links</a>
		<span class="project-date">November 15, 2013</span>
		<p class="project-description">
			A browser extension for <a href="https://chrome.google.com/webstore/detail/hacker-news-new-tab-links/oijenmnnifnjcohgoejolepdeefkldbl">Chrome</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/hacker-news-new-tab-links/">Firefox</a>, and <a href="https://addons.opera.com/en/extensions/details/hacker-news-new-tab-links/">Opera</a> that lets you open links on Hacker News in external tabs by default. Code is on <a href="https://github.com/jcordeiro/HackerNewsExtension">Github</a>.
		</p>
	</li>

	<li class="project-list-item">
		<a class="project-title" href="http://filmfinder.joncordeiro.com/">Film Finder</a>
		<span class="project-date">January 27, 2013</span>
		<p class="project-description">
			A movie recommendation website. Select your genre and find a random movie. Code is on <a href="https://github.com/jcordeiro/FilmFinder">Github</a>.
		</p>
	</li>

</ul>
