---
layout: default
title: Jon Cordeiro
description: Software engineering student
---


<p> Hi, I'm Jon Cordeiro. I'm a recent graduate from Sheridan College's Software Development & Network Engineering program. In the past I've worked as a web developer at <a href="http://www.redbitdev.com/">RedBit Development</a>, and as a software developer at Mohawk College's <a href="http://www.mohawkcollege.ca/ideaworks.html">iDeaWORKS</a>.

<p> I like to spend my spare time <a href="https://github.com/jcordeiro">programming</a>, reading, playing videogames, and watching movies. Besides technology, some of my other interests include science, hockey, business, and astronomy.</p>

<p>	Check out my <a href="/blog">blog</a> if you'd like to follow me while I continue to learn more about programming, computer science, and software development.</p>
