---
layout: default
title: Blog
---

<ul id="post-list">
  {% for post in site.posts %}
    <li class="post-list-item">
      <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
	  <p class="post-date"> {{ post.date | date: "%B %d, %Y" }} {% if post.github %} (Code on <a href="{{ post.githublink }}">Github</a>) {% endif %} </p>
    </li>


  {% endfor %}
</ul>