@import url(http://fonts.googleapis.com/css?family=Nunito);
body {
	background: url("images/navy_blue.png");
	text-align: center;
	font-family: 'Nunito', Helvetica, sans-serif;
}

.title {
	color: white;
	font-size: 6em;
	margin: auto;
	text-shadow: 0 0 0.2em #000;
}

.container {
	width: 60%;
	margin: auto;

}

/* List & List items */
.list {
	margin-top: 1em;
	border: 5px groove red;
	-moz-bottom-right-radius: 12px;
	-moz-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border-color: #333;
	background: white;
	margin-bottom: 12em;
}

.list .buttons {
	float: right;
}

.list .buttons > input {
	border: 2px groove #333;
	border-radius: 5px;
	margin-right: 2px;
	height: 55px;
	width: 55px;
}

.list #add {
	background:url("images/add.png") no-repeat;
}


.list #clear {
	background:url("images/delete.png") no-repeat;
}

.list #add:hover, #clear:hover {
	border: 2px groove red;
}

.list > #taskList {
	margin-right: 0;
	padding-left: 0;
	list-style: none;
}


.listItem {
	text-align: left;
	line-height: 1.75em;
	width: 85%;
	border-bottom: 1px solid  #0099FF;
}

.listItem  textarea {
	margin:0;padding:0;border:0;
	font-family: 'Nunito', Helvetica, sans-serif;
	width: 90%;
	height: 50%;
	font-size: 1.5em;
	border: none;
	resize: none;
	max-height: 2.75em;
}

.listItem  textarea:focus {
	border: none;
	outline: none;
	background-color: #FFF;
	background: transparent;
}


/* Completed tasks */
.completed > textarea {
	text-decoration: line-through;
	color: #555;
}

.completed > img {
	content: url("images/completed.png");
}

/* Footer */
.footer {
	position: relative;
	height: 40px;
	margin-bottom: 2em;
	margin-top: 40px;
}
.footer p {
	width: 70%;
	margin: auto 10px;
	display: inline;	
}

.footer a{
	text-decoration: none;
	color: #666;
}

.footer a:hover {
	text-shadow: 0 0 0.2em #000;
}