<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="description" content="{{ page.description }}">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="/images/main/favicon.ico" rel="shortcut icon">
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/scripts/underline.js"></script>
		
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-35820703-1']);
		  _gaq.push(['_setDomainName', 'joncordeiro.com']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
    </head>
    <body>

        <div id="container">
	
			<div id="header">
							
				<div id="nav">
					<a class="header-link blog-link" href="/blog">&nbsp;&nbsp;Blog&nbsp;&nbsp;</a>
					<a class="pic-link" href="/"><img id="self-pic" src="/images/main/humans_med.jpg" alt="Jon Cordeiro"></a>
					<a class="header-link projects-link" href="/projects">Projects</a>
				</div>
				
				<h1 class="name"><a href="/">Jon Cordeiro</a></h1>
	
			</div>
			
			
			<div id="content">
				{{ content }}
			</div>
			
			<div id="footer">
				
				<span> <a href="mailto:contact@joncordeiro.com">Email</a> 
					   &nbsp; | &nbsp; 
					   <a href="http://twitter.com/JonCordeiro">Twitter</a>
						 &nbsp; | &nbsp; 
						<a href="https://github.com/jcordeiro">Github</a>
				</span>
				
			</div>
			
		</div> 
		<!-- Soul Potatoes -->
    </body>
</html>
